@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #8ec8d6; background-image: url(Images/chr_bg.jpg); background-repeat: no-repeat; background-size: contain;">
    <div class="text-center">
        <h3>
            Заповядайте на нашето коледно парти! Ще се проведе на 20.12.2021 г. в ресторанта на хотел "Leipzig" от 19 часа!
            Моля, попълнете формата с вашите данни, както и дали ще присъствате, за да може да се направи необходимата организация.
        </h3>

        <a class="btn btn-primary w-75" asp-controller="Home" asp-action="RsvpForm">Попълнете формуляра!!!!!!!!!!!</a>
    </div>
</body>